/*
 * Main Stylesheet for the Naruto Editor (Window View)
 *
 * This stylesheet defines the visual layout and styling for the windowed editor view,
 * including the title bar, menu bar, file explorer, and the code editor area.
 * It uses a CSS Grid layout for the main container and various components.
 */

/*******************************
            GLOBALS 
********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #282a37;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
ul {
  list-style-type: none;
}

/*******************************
          Title Bar 
          Styles for the window title, buttons (minimize, maximize, close).
********************************/

.titlebar {
  background: #383a47;
  color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  height: auto;
}
.titlebar .title {
  font-size: 1.4rem;
  margin-left: 10px;
}
.titlebar .windowOptions button {
  color: white;
  height: 100%;
  padding: 6px;
  border: none;
  background: none;
}
.titlebar .windowOptions button:hover {
  background: #282a37;
}

/*******************************
          Menu Bar 
          Styles for the application menu (File, Edit, etc.) and submenus.
********************************/

.menu-bar {
  color: white;
  background: #383a47;
  border-bottom: 1px solid #000;
}
.menu-bar .main-menu {
  display: flex;
}
.menu-bar .main-menu > li {
  position: relative;
  padding: 5px;
}
.menu-bar .main-menu > li .sub-menu {
  display: none;
  position: absolute;
  background: #000;
  z-index: 20;
}
.menu-bar .main-menu > li:hover .sub-menu {
  display: block;
  position: absolute;
  background: #000;
}
.menu-bar .main-menu > li .sub-menu li {
  position: relative;
  /* white-space: nowrap; */
  width: max-content;
  padding: 4px 10px;
}
.menu-bar .main-menu > li .sub-menu li .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  border: 2px solid #111;
}
.menu-bar .main-menu > li .sub-menu li:hover .sub-menu {
  display: block;
}

.menu-bar .main-menu > li .sub-menu li .sub-menu li {
  padding: 4px 10px;
}

/*******************************
          Code Editor 
          Layout for the main editor area including explorer and text area.
********************************/

.code-editor {
  width: 100%;
  height: 100%;
  /* background: green; */
  display: grid;
  grid-template-columns: auto 1fr;
}

/*******************************
            Explorer 
            Styles for the file explorer side panel, including files, folders, and icons.
********************************/

.explorer {
  height: 100%;
  color: white;
}
.file {
  /* background: red; */
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  padding: 2px;
  margin: 2px 0;
}
.file .file-close {
  margin: 0 2px;
}
.file .file-icon {
  margin: 0 4px;
}
.file .file-name {
  margin: 0 4px;
}
.folderOptions {
  padding: 5px;
  background: #484a47;
  margin: 2px;
  border-radius: 10px;
}

.folder-details {
  display: grid;
  grid-template-columns: auto auto 1fr;
}
.folder-contents {
  margin-left: 10px;
  display: none;
}
.folder:hover > .folder-contents {
  display: block;
}

/*******************************
              Editor 
              Specific overrides for the CodeMirror editor instance.
********************************/

#editor,
.CodeMirror {
  width: 100%;
  height: 100%;
  font-size: 18px;
}
